/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color;
}

a {
  text-decoration: none;
}
