@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin title-font($font-size: 36px, $line-height: 40px, $text-transform: uppercase) {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
  color: #000000;
}
