/* здесь используйте глобальные переменные */
$base-color: #444444;
$accent-color: #ffffff;
$base-hover-green: #5eaa2f;
$special-hover-gray: #ebebeb;
$bg-base-green-color: #68b738;
$bg-base-gray-color: #f2f2f2;
$mask-bg-base-gray-color: #666666;

// viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
