// .advantages {

// }

.advantages__title {
  @include title-font;
  text-transform: none;
}

.advantages__list {
  @include list-style;
}

.advantages__item {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}

.advantages__item::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: $bg-base-green-color;
  background-position: 50%;
  background-repeat: no-repeat;
}

.advantages__item-nutrition {
  position: relative;
}

.advantages__item-nutrition::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#leaf");
  background-repeat: no-repeat;
  background-size: 25px 28px;
  background-position: center;
}

.advantages__item-structure {
  position: relative;
}

.advantages__item-structure::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#water");
  background-repeat: no-repeat;
  background-size: 26px 29px;
  background-position: center;
}

.advantages-item-eating {
  position: relative;
}

.advantages-item-eating::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#icon-eat");
  background-repeat: no-repeat;
  background-size: 25px 30px;
  background-position: center;
}

.advantages__item-benefit {
  position: relative;
}

.advantages__item-benefit::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#clock");
  background-repeat: no-repeat;
  background-size: 26px 31px;
  background-position: center;
}
