.advantages {
  padding-bottom: 47px;
  margin-bottom: 45px;

  @media (max-width: $mobile-width) {
    margin: 0 20px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.advantages::after {
  @media (min-width: $tablet-width) and (max-width: 1439px) {
    position: absolute;
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    min-width: calc(100% + 60px);
    max-width: 1439px;
    height: 1px;
    bottom: 45px;
    left: -30px;
    background-color: #e6e6e6;
  }
}

.advantages__title {
  @include title-font;
  margin-top: 0;
  text-transform: none;

  @media (min-width: $tablet-width) {
    @include title-font-tablet;
    margin-bottom: 72px;
  }
}

.advantages__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 60px;
    width: 100%;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 245px;
    min-height: 240px;
  }
}

.advantages__item-description {
  margin-top: 0;
  min-width: 200px;
  min-height: 54px;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 111px;
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.advantages__item::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: $bg-base-green-color;
  background-position: 50%;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-width: 80px;
    height: 80px;
  }
}

.advantages__item-nutrition {
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    width: 230px;
    top: 0;
    left: 0;
    background-image: url("../../icons/stack.svg#1");
    background-repeat: no-repeat;
    background-size: 112px 240px;
    background-position: right;
  }
}

.advantages__item-nutrition::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#leaf");
  background-repeat: no-repeat;
  background-size: 25px 28px;
  background-position: center;
}

.advantages__item-structure {
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    width: 246px;
    top: 0;
    left: 0;
    background-image: url("../../icons/stack.svg#2");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 134px 240px;
  }
}

.advantages__item-structure::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#water");
  background-repeat: no-repeat;
  background-size: 26px 29px;
  background-position: center;
}

.advantages-item-eating {
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    width: 247px;
    top: 0;
    left: 0;
    background-image: url("../../icons/stack.svg#3");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 134px 240px;
  }
}

.advantages-item-eating::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#icon-eat");
  background-repeat: no-repeat;
  background-size: 25px 30px;
  background-position: center;
}

.advantages__item-benefit {
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    width: 249px;
    top: 0;
    left: 0;
    background-image: url("../../icons/stack.svg#4");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 143px 240px;
  }
}

.advantages__item-benefit::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#clock");
  background-repeat: no-repeat;
  background-size: 26px 31px;
  background-position: center;
}
