// .card {

// }

.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 17px;
}

.card__image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  min-height: 107px;
}

.card__image {
  display: block;
  min-width: 68px;
  min-height: 86px;
}

// .card__text-content {

// }

.card__title {
  @include title-font(16px, 20px);
  margin-top: 0;
  margin-bottom: 14px;
  width: 76px;
}

.card__info-list {
  margin: 0;
}

.card__link {
  display: block;
}
