.catalog {
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  @include title-font(36px, 36px, none);
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    @include title-font-tablet;
    margin: 65px 0 84px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: -9px 0 112px;
  }
}

.catalog__list {
  @include list-style;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 85px 0;
    min-width: 708px;
    margin: 110px auto 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 87px;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.catalog__button--accent {
  color: #444444;
  background-color: $bg-base-gray-color;
  width: 100%;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $special-hover-gray;
  }
}
