.catalog {
  min-width: 280px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 25px;
}

.catalog__title {
  @include title-font(36px, 36px, normal);
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 41px;
}

.catalog__list {
  @include list-style;
}

.catalog__item {
  min-width: 320px;
  min-height: 209px;
  padding: 20px 20px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid $special-hover-gray;

  @media (min-width: $tablet-width) {
    background-color: $bg-base-gray-color;
  }
}

.catalog__button-container {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  min-width: 280px;
  min-height: 207px;
  padding: 0 20px;
  border-bottom: 1px solid $special-hover-gray;

  &::before,
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    top: 20%;
    left: 45%;
    background-color: #d3d3d3;
  }
}

.catalog__text {
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 78px;
  text-align: center;

  @include title-font(16px, 20px);
}

.catalog__button-container::after {
  transform: rotate(90deg);
}

.catalog__legend {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

// .catalog__button {

// }

.catalog__button--accent {
  color: #444444;
  background-color: $bg-base-gray-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $special-hover-gray;
  }
}
