.contacts {
  min-width: 320px;
  margin: 0 auto;

  @media (width: $tablet-width) {
    min-width: 100%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.contacts__wrapper {
  position: relative;
}

.contacts__wrapper--inner {
  background-color: $bg-base-gray-color;
}

.contacts__container {
  @media (min-width: $mobile-width) and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-width: 280px;
    padding: 26px 20px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px 40px;
    min-width: 628px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 61px 80px 60px;
    width: 407px;
    min-height: 79px;
    top: 95px;
    left: 110px;
    background-color: $accent-color;
    z-index: 1;
  }
}

.contacts__slogan {
  @include title-font(16px, 20px);
  margin: 0;
  color: #111111;
  min-width: 140px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  min-width: 140px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  position: relative;
  display: block;
  min-width: 100%;
  min-height: 362px;
  z-index: -2;
  background-color: $bg-base-gray-color;

  @media (max-width: $mobile-width) {
    background: url("../../images/map-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (width: $tablet-width) {
    display: block;
    width: 100%;
    min-height: 400px;
    background: url("../../images/map-tablet@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 100%;
    min-height: 400px;
    background: url("../../images/map-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.contacts__map-pin {
  position: absolute;
  content: "";
  display: block;
  width: 57px;
  height: 53px;
  top: 139px;
  left: 134px;
  background-image: url("../../icons/stack.svg#map-pin");
  background-repeat: no-repeat;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 106px;
    top: 146px;
    left: 333px;
  }

  @media (min-width: $desktop-width) {
    width: 113px;
    height: 106px;
    top: 131px;
    left: 908px;
  }
}
