.contacts__wrapper {
  position: relative;
  min-width: 320px;
  margin: 0 auto;

  @media (width: $tablet-width) {
    min-width: 100%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__wrapper--inner {
  background-color: $bg-base-gray-color;
}

.contacts__container {
  @media (min-width: $mobile-width) and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-width: 280px;
    padding: 26px 20px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 60px 70px;
    min-width: 628px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 87px;
    margin: 0;
    padding: 61px 80px 60px;
    width: 407px;
    min-height: 79px;
    top: 95px;
    left: 110px;
    background-color: $accent-color;
  }
}

.contacts__slogan {
  @include title-font(16px, 20px);
  margin: 0;
  color: #111111;
  min-width: 140px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  min-width: 140px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address-text {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__address span {
  @media (min-width: $tablet-width) {
    margin: 0;
    line-height: 20px;
    font-style: normal;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  min-height: 362px;
  background-color: #eaeaea;

  @media (min-width: $mobile-width)and (max-width: 767px) {
    background-image: image-set("../../images/map-mobile@2x.webp" 2x, "../../images/map-mobile@1x.webp" 1x, "../../images/map-mobile@2x.png" 2x, "../../images/map-mobile@1x.png" 1x);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: block;
    min-height: 400px;
    background-image: image-set("../../images/map-tablet@2x.webp" 2x, "../../images/map-tablet@1x.webp" 1x, "../../images/map-tablet@2x.png" 2x, "../../images/map-tablet@1x.png" 1x);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-height: 400px;
    background-image: image-set("../../images/map-desktop@2x.webp" 2x, "../../images/map-desktop@1x.webp" 1x, "../../images/map-desktop@2x.png" 2x, "../../images/map-desktop@1x.png" 1x);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

.contacts__map iframe {
  position: relative;
  display: block;
  border: none;
  width: 100%;
  min-height: 362px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: block;
    min-height: 400px;
    z-index: 1;
  }
}

.contacts__map-pin {
  position: absolute;
  display: block;
  width: 57px;
  height: 53px;
  background-image: url("../../icons/stack.svg#map-pin");
  background-repeat: no-repeat;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    top: 139px;
    left: 134px;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    width: 113px;
    height: 106px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: $desktop-width) {
    width: 113px;
    height: 106px;
    top: 43%;
    left: 63%;
  }
}
