.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
}

.copyrights__link {
  display: block;
  color: $base-color;

  &:hover + .copyrights__image {
    fill: $bg-base-green-color;
  }

  &:focus + .copyrights__image,
  &:active + .copyrights__image {
    fill: $bg-base-green-color;
    opacity: 0.3;
  }
}

.copyrights__text {
  margin: 0;
  width: 117px;
  min-height: 20px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 6px;
  }
}

.copyrights__image {
  fill: #666666;
  cursor: pointer;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    display: block;
    width: 27px;
    height: 34px;
  }

  &:hover {
    fill: $bg-base-green-color;
  }

  &:focus,
  &:active {
    fill: $bg-base-green-color;
    opacity: 0.3;
  }
}
