.copyrights {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.copyrights__link {
  display: block;
  color: $base-color;
}

.copyrights__text {
  width: 113px;
}

.copyrights__image {
  fill: #666666;

  &:hover,
  &:focus {
    fill: $bg-base-green-color;
  }

  &:active {
    fill: $bg-base-green-color;
    opacity: 0.3;
  }
}
