// .page {

// }

.page__body {
  margin: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: calc(100% - 60px);
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 80%;
    max-width: 1440px;
  }
}
