.page-header {
  display: flex;
  align-items: center;
  min-width: 280px;
  min-height: 38px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin: -79px 20px 0;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    min-width: 768px;
    gap: 300px;
    margin: 25px 0 65px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 55px;
    left: 280px;
    width: 1220px;
    min-height: 59px;
    z-index: 1;
  }
}

.page-header__link {
  display: block;
  width: 170px;
  height: 38px;
}
