.page {
  margin: 0;
}

.page__body {
  margin: 0 auto;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1440px;
  }
}
