.page-footer {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-height: 37px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: $bg-base-gray-color;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 30px;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 66px 110px;
    width: 100%;
  }
}

.page-footer__link {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  width: 128px;
  height: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.page-footer__container {
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.page-footer__copyrights {
  @media (min-width: $tablet-width) {
    min-width: 168px;
  }
}
