.page-header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 13px;
  box-sizing: border-box;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    min-width: 280px;
    min-height: 38px;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    min-width: 768px;
    padding: 25px 0 0;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 82px;
    padding: 0;
    width: 1220px;
    min-height: 59px;
  }
}

.page-header-background::after {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    display: block;
    min-width: 50%;
    min-height: 694px;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(99, 166, 60, 0.85), rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85), rgba(120, 177, 82, 0.85)), image-set("../../images/backgrounds/index-background-desktop@2x.webp" 2x, "../../images/backgrounds/index-background-desktop@1x.webp" 1x, "../../images/backgrounds/index-background-desktop@2x.png" 2x, "../../images/backgrounds/index-background-desktop@1x.png" 1x);
    background-repeat: no-repeat;
    background-size: 100%, 1041px auto;
    background-color: rgb(61, 60, 65);
    object-fit: contain;
    z-index: -1;
  }
}

.page-header__link {
  display: block;
  margin-right: auto;
  width: 190px;
  height: 38px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    padding: 0 20px;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
