.pro {
  position: relative;
}

.pro::before {
  position: absolute;
  content: "";
  display: block;
  width: 67px;
  height: 28px;
  top: 35px;
  left: 12px;
  background-image: url("../../icons/stack.svg#panther");
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    left: 412px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
  }
}

.pro__title {
  margin-left: 71px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.pro__link::after {
  left: 100px;

  @media (min-width: $tablet-width) {
    left: 129px;
  }
}
