.product {
  @media (min-width: $mobile-width) and (max-width: 767px) {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    padding: 14px 20px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 896px;
    grid-template-columns: 1fr 1fr;
    column-gap: 55px;
  }
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    align-items: center;
    row-gap: 11px;
    margin-bottom: 12px;
    min-height: 20px;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 596px;
    padding: 5px 0;
  }
}

.product__title {
  @include title-font(16px, 16px);
  margin-top: 0;
  color: #222222;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-bottom: 0;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 360px;
    padding: 0 10 0 0;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 323px;
  }
}

.product__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 5px 2px 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    margin-left: auto;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    width: fit-content;
    margin-right: auto;
  }
}

.product__price {
  color: #444444;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    font-size: 16px;
    line-height: 20px;
    width: 70px;
    padding: 0 2px;
    box-sizing: border-box;
    margin-left: auto;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0;
  }
}

.product__link {
  display: block;

  @media (min-width: $mobile-width) and (max-width: 1439px) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
  }
}
