.product {
  display: flex;
  flex-direction: column;
  line-height: 14px;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product__title {
  @include title-font(16px, 16px);
  margin-top: 0;
  margin-bottom: 13px;
  width: 100%;
  color: #222222;
}

.product__description {
  margin-top: 0;
  margin-bottom: 15px;
}

// .product__price {
// }

// .product__link {

// }
