.promo {
  margin: 0 auto;
  min-height: 480px;
  text-align: center;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    position: relative;
    min-width: 708px;
    margin-top: 65px;
    background-color: $accent-color;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
    min-height: 580px;
    background-color: transparent;
  }
}

.promo__background-container {
  @media (min-width: $mobile-width) and (max-width: 767px) {
    position: relative;
    width: 100%;
    min-height: 302px;
    background-color: rgba(61, 60, 65, 0.9);
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../../images/backgrounds/index-cat-background-mobile@2x.webp" 2x, "../../images/backgrounds/index-cat-background-mobile@1x.webp" 1x, "../../images/backgrounds/index-cat-background-mobile@2x.jpg"2x, "../../images/backgrounds/index-cat-background-mobile@1x.jpg" 1x);
    background-repeat: no-repeat;
    background-size: 100%, 320px auto;
    background-position: center;
    object-fit: contain;
    z-index: -1;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    position: relative;
    min-width: 414px;
    margin-left: 90px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 610px;
    padding: 110px 81px 184px;
    box-sizing: border-box;
  }
}

.promo__title {
  @include title-font(36px, 36px, none);
  margin: 0  auto 25px;
  padding-top: 27px;
  min-width: 249px;
  color: $accent-color;

  @media (min-width: $tablet-width) {
    @include title-font-tablet;
    width: 424px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    text-align: left;
  }
}

.promo__slogan {
  @include title-font(14px, 14px);
  margin-top: 0;
  text-transform: uppercase;
  color: $accent-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $base-color;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  display: block;
  box-sizing: border-box;
  min-width: 280px;
  height: auto;
  margin: 0 auto;
  margin-top: -135px;
  background-color: transparent;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: block;
    min-width: 709px;
    height: auto;
    margin-top: -12%;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: auto;
    margin-top: 5%;
    margin-left: -27%;
  }
}

.promo__link {
  display: block;
  box-sizing: border-box;
  margin: 0 20px;
  padding: 10px 0;
  min-height: 40px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% - 40px);
    box-sizing: border-box;
    top: 146%;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    box-sizing: border-box;
    width: 244px;
    min-height: 54px;
    top: 230px;
    left: 90px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 26px;
    top: 342px;
  }
}
