// .range {
// }

.range__range-bar {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 50%;
  background-color: $mask-bg-base-gray-color;
  border-radius: 2px;
  transform: rotate(180deg);
}

.range__button {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  top: 43%;
  left: -18px;
  border-radius: 50%;
  border: 2px solid $mask-bg-base-gray-color;
  background-image: url("../../icons/stack.svg#slider-arrow");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 18px;
}
