.services {
  min-width: 280px;
  margin: 0 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 0 auto;
    width: 1220px;
    min-height: 374px;
    margin-bottom: 71px;
  }
}

.services__container {
  position: relative;
  background-color: $bg-base-gray-color;
  margin-bottom: 20px;
  min-width: 280px;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    min-height: 372px;
    padding: 77px 23px 53px 52px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0 61px 55px 52px;
    width: 570px;
    min-height: 374px;
    box-sizing: border-box;
  }
}

.services__container::after {
  position: absolute;
  content: "";
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  top: 24px;
  left: 20px;
  background-color: $bg-base-green-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 92px;
    left: 445px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.services__title {
  @include title-font(24px, 37px);
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 29px;
  min-width: 110px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include title-font;
    margin: 0;
    margin-bottom: 24px;
    padding-top: 0;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-top: 77px;
    padding-left: 162px;
    line-height: 36px;
  }
}

.services__description {
  position: relative;
  margin: 0 33px 38px 20px;
  min-width: 240px;
  min-height: 90px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 48px;
    width: 340px;
    min-height: 96px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    min-width: 457px;
    margin-bottom: 23px;
  }
}

.services__description::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 125%;
  left: 0;
  min-width: 240px;
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 85%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.services__link {
  @include title-font(16px, 16px);
  position: relative;
  display: inline-block;
  margin-left: 20px;
  min-width: 139px;

  @media (min-width: $tablet-width) {
    @include title-font(20px, 29px);
    margin-left: 0;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1.1);
    transition: 0.2s;
  }

  &:active {
    opacity: 0.3;
  }
}

.services__link::after {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  top: 3px;
  left: 98px;
  background-image: url("../../icons/stack.svg#arrow");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 130px;
  }
}
