// .site-list {

// }

.site-list__item {
  @media (min-width: $mobile-width) and (max-width: 767px) {
    min-width: 100%;
    margin: 0;
    padding: 22px 0 24px;
    border-top: 1px solid #e6e6e6;
    border-width: 100%;
    box-sizing: border-box;
  }

  &:nth-of-type(3n) {
    @media (min-width: $mobile-width) and (max-width: 767px) {
      border-bottom: 1px solid #e6e6e6;
      border-width: 100%;
    }
  }
}

.site-list__link {
  @include title-font(20px, 20px);
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: 64px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link--accent {
  @media (min-width: $desktop-width) {
    color: $accent-color;
  }
}

.site-list__item--current {
  position: relative;
  text-decoration: underline;
  text-decoration-color: $bg-base-green-color;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;

  @media (min-width: $desktop-width) {
    text-decoration-color: $accent-color;
  }
}

.site-list__item--active {
  position: relative;
  text-decoration: underline;
  text-decoration-color: $bg-base-green-color;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
