:root {
  --left: 80%;
}

.slider__wrapper-before {
  position: relative;
  width: 50%;
  height: 260px;
  top: -6px;
  left: 0;
  background-color: #eaeaea;
  overflow: hidden;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    width: 50%;
    min-height: 518px;
    background: linear-gradient(to bottom, $accent-color 160px, #eaeaea 160px);
  }

  @media (min-width: $desktop-width) {
    min-height: 518px;
    background: linear-gradient(to bottom, $accent-color 133px, $bg-base-gray-color 133px);
  }
}

.slider__wrapper-after {
  position: absolute;
  width: var(--left);
  height: 256px;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 560px;
    min-height: 512px;
  }
}
