.socials__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 132px;
  gap: 24px;
  min-height: 22px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;

  &:hover,
  &:focus {
    background-color: $bg-base-green-color;
  }

  &:active {
    background-color: $bg-base-green-color;
    opacity: 0.3;
  }
}

.socials__link--vkontakte {
  background-color: $mask-bg-base-gray-color;
  mask-image: url("../../icons/stack.svg#vk");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 27px 17px;
}

.socials__link--youtube {
  background-color: $mask-bg-base-gray-color;
  mask-image: url("../../icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 24px 19px;
}

.socials__link--telegram {
  background-color: $mask-bg-base-gray-color;
  mask-image: url("../../icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 20px 17px;
}
