.stats {
  @media (min-width: $mobile-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    width: 367px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.stats__item {
  position: relative;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 4px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    min-height: 56px;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 70px;
  }
}

.stats__title {
  @include title-font(24px, 24px);
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
    padding: 14px 20px 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__description {
  position: absolute;
  display: block;
  margin-top: 0;
  padding: 0 11px;
  width: 60px;
  top: 47px;
  left: -20px;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    min-width: 125px;
    min-height: 14px;
    margin: 0 auto;
    top: 85%;
    left: 4%;
    font-size: 14px;
    line-height: 14px;
    background-color: $accent-color;
  }

  @media (min-width: $desktop-width) {
    top: 63px;
    background-color: $bg-base-gray-color;
  }
}
