.subscription {
  @media (max-width: $mobile-width) {
    min-width: 280px;
    padding: 40px 20px;
  }

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 80px 38px 80px 40px;
    margin: 0 30px;
    box-sizing: border-box;
  }
}

.subscription__title {
  @include title-font(24px, 24px, none);
  position: relative;
  margin-top: 0;
  margin-bottom: 32px;
  width: fit-content;
  background-color: $accent-color;
  box-shadow:
    -40px 0 0 0 $accent-color,
    20px 0 0 0 $accent-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    font-size: 32px;
    line-height: 32px;
    box-shadow:
      -40px 0 0 0 $accent-color,
      40px 0 0 0 $accent-color;
  }
}

.subscription__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 100vw;
  height: 2px;
  top: 54%;
  right: 0;
  box-shadow: 100vw 0 0 0 $bg-base-green-color;
  background-color: $bg-base-green-color;
  z-index: -1;
}

.subscription__description {
  @include title-font(16px, 24px, normal);
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 632px;
    font-size: 24px;
    line-height: 32px;
  }
}

.subscription__form {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 632px;
    margin: 0 auto;
  }
}

.subscription__form-input {
  @include title-font(20px, 29px, uppercase);
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid #cdcdcd;
  color: $base-color;

  @media (max-width: $mobile-width) {
    width: 280px;
    min-height: 30px;
    margin-bottom: 16px;
    padding: 5px;
  }

  @media (min-width: $tablet-width) {
    width: 376px;
    min-height: 56px;
    padding: 13px;
  }
}

.subscription__button {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 26px;
  border: none;

  @media (max-width: $mobile-width) {
    min-width: 100%;
  }

  @media (min-width: $tablet-width) {
    min-width: 256px;
  }
}
